<h3 class="about">About</h3>
<p id="about">DBC Leaks is a blog post aggregator that will display any posts from Tumblr tagged with #DBCNYC. We are in the process of allowing our application to handle multiple tags and separate content in to different secttions based on those tags. This is the haphazardness produced by a ragtag team of 5 SUPER junior programmersrsrs in the DBC NYC Fiddler Crabs cohort. Their names (til this day), are Neal Fennimore, Kenneth Uy, Sahan Pitigala, Payam.... , and Insung Lee. </p>
<%3.times do%>
	<%= %>
<%end%>
