<h3 class="about">About</h3>
<p id="about">The haphazardness produced by a ragtag team of 5 SUPER junior programmersrsrs in the DBC Fiddler Crabs cohort. Their names (til this day), are Neal Fennimore, Kenneth Uy, Sahan Pitigala, Payam.... , and Sahan Pitigala.</p>
<%3.times do%>
	<%= "xxx"%>
<%end%>