<% img_link="http://ebmedia.eventbrite.com/s3-build/images/2114527/37120493192/1/logo.png" %>
<% lorem="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a placerat tortor. Sed venenatis mauris venenatis tellus pellentesque bibendum. Mauris consequat feugiat purus, non fermentum tellus rutrum." %>
<% img_link2="http://scm-l3.technorati.com/12/12/13/73853/devbootcamp.png?t=20121213131231" %>


	<ul class="tumblr">
	 	<% Tumblr.fetch_posts.each do |post| %>
	        <li>
	        	<a href="<%= post.link %>">
	        		<div class="image_container">
	        			<img src=<%= post.img %>>
	        		</div>
        		<h4><%= post.title %></h4>
        		<%= post.body %>
        		</a>
	        </li>
	    <% end %>
	</ul>