	<ul class="tumblr">
	 	<% Tumblr.fetch_posts.each do |post| %>
	        <li>
	        	<a href="<%= post.link %>">
	        		<div class="image_container">
	        			<img src=<%= post.img %>>
	        		</div>
        		<h4><%= post.title %></h4>
        		<div class="line-clamp" >
            <%= post.body %>
          </div>
        		</a>
	        </li>
	    <% end %>
	</ul>
